<ion-content>
  <ion-grid>
      <ion-row>
        <div class="products" *ngFor="let product of productList">
          <ion-col>
            <div class="product">
              <div class="img-product">
                <ion-img src="{{product.image}}"></ion-img>
              </div>
              <div class="info-product">
                <div class="name">
                  <h3 class="product-title">{{product.name}}</h3>
                  <span class="product-info">{{product.offer}}</span>
                </div>
                <span class="product-description">{{product.detail}}</span>
                <span class="product-info">{{product.hero}}</span>
                <span class="product-info">{{product.info}}</span>
                <h4 class="product-price">R$ {{product.price}}</h4>
              </div>

              <div class="add-to-cart">
                <ion-button (click)="addToCart(product)" expand="full" color="danger">Comprar
                  <ion-icon name="cart-outline" class="ion-margin-start"></ion-icon></ion-button>
              </div>
            </div>
          </ion-col>
        </div>
      </ion-row>
  </ion-grid>
</ion-content>
